.tabbable > .nav > li.active > a {
  background-color: #555299;
  border-top-color: #605CA8;
}

.tabbable > .nav > li.active > a:hover {
  background-color: #555299;
  border-top-color: #605CA8;
}

#sidebarCollapsed > section.sidebar {
  padding: 2vw;
  box-sizing: border-box;
}

#sidebarCollapsed > section.sidebar > h2 {
  margin: 0.5vw 0 1vw 0;
  font-weight: 500;
}

#sidebarCollapsed section.sidebar div.checkbox span {
  font-weight: 700;
}

#sidebarCollapsed section.sidebar button {
  background: #605CA8;
  border: 0;
  color: white;
}

#sidebarCollapsed section.sidebar button:hover {
  background: #555299;
  border: 0;
  color: white;
}